@charset "utf-8";
/* CSS Document */

#header {
}


#leftcol {
	float: left;
	width: 390px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	font-size: 11px;
}

#rightcol {
	float: right;
	padding-top: 30px;
	padding-right: 40px;
}


#wrapper>#leftcol {
	float: left;
	width: 330px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	font-size: 11px;
}

#leftcol a {
	color: #AAAAAA;
}
#leftcol b {
	font-size: 12px;
}

#footer {
	clear: both;
}
#wrapper {
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}
body {
	background-color: #C8C8C8;
	padding-top: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
}
#resultpanel {
	background-color: #7D1921;
	color: #FFF;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

#right_buttons {
	float:right;
}

span label {
	clear: both;
	display: block;
}

label, .xforms-group-label {
	margin-top: 10px;
	font-weight: bold;
	clear: right;
	display: block;
	padding: 5px;
}

.xforms-repeat-item {
	margin: 5px;
	clear: both;
	display: block;
}

button span {
	font-size: 9px;
}

a img {
	border-style: none;
}

hr {
	margin: 15px 0 15px 0;
}

.xforms-group .xforms-group {
	margin-left: 70px;
}

input {
	border: solid 1px black;
}

table {
	border: solid 1px #ccc;
}

td {
	margin: 5px;
	vertical-align: top;
}

.highlight {
	background-color:#D22B37;
}