@charset "utf-8";
/* CSS Document */

#header {
}
#leftcol {
	float: left;
	width: 340px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}
#rightcol {
	float: right;
	width: 540px;
	padding-top: 30px;
	padding-right: 30px;
}

#leftcol a {
	color: #DDDDDD;
}

#footer {
	clear: both;
}
#wrapper {
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}
body {
	background-color: #C8C8C8;
	padding-top: 50px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
#resultpanel {
	background-color: #7D1921;
	color: #FFF;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

span label {
	clear: both;
	display: block;
}

label, .xforms-group-label {
	margin-top: 10px;
	font-weight: bold;
	clear: right;
	display: block;
	padding: 5px;
}

.xforms-repeat-item {
	margin: 5px;
	clear: both;
	display: block;
}

button span {
	font-size: 9px;
}

a img {
	border-style: none;
}

hr {
	margin: 15px 0 15px 0;
}
